#free-palestine{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
body{
    font-family: "Merriweather", serif;
    margin: 0px;
    border-top: 5px solid black;
    border-left: 5px solid red;
    border-bottom: 5px solid white;
    border-right: 5px solid green;
}

#large-font{
    font-size: 50px;
    color: white;
    font-weight: 700;
    padding-top: 20%;
}

#normal-font{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
    color: white;
}

.link-button{
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    padding: 20px 40px;
}

.top-banner{
    background-image: url(images/chidren.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 10%;
}

.donate-plan{
    text-align: center;
}

.donate-plan h1{
    font-size: 40px;
    font-weight: 700;
}

.donate-plan p{
    font-size: 20px;
}

.donate-today{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.donate-today h1{
    font-size: 40px;
    font-weight: 700;
}

.donate-today p{
    font-size: 20px;
}

.flexible-container{
    display: flex;
    margin: 100px 100px;
}

.flexible-container-amount{
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 100px;
}

.amount-box{
    width: 70%;
    margin: 2px 2px;
    border: 0px solid;
    padding: 30px;
    border-radius: 5px;
    background-color: rgb(237, 232, 232);
}

.different-box{
    background-color: rgb(222, 180, 187);
    border: 2px solid rgb(216, 44, 44);
    color: rgb(224, 42, 42);
}

.input-field{
    display: block;
}

.label-input{
    font-size: 20px;
    color: #b3b3b3;
    width: 100%;
    text-align: center;
}

.divider{
    width: 50%;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 2%;
}

.plan-box{
    margin: 10px;
    border: 0px solid;
    padding: 30px;
    border-radius: 5px;
}

.food-box{
    background-color: rgb(222, 232, 235);
}

.shelter-box{
    background-color: rgb(241, 220, 223);

}

.medical-box{
    background-color: rgb(238, 230, 215);
}

.contribute-part{
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px 50px;
}

.contribute-part h1{
    font-size: 40px;
    font-weight: 700;
}

.contribute-part p{
    font-size: 20px;
}

.img-format{
    margin-left: 50px;
    border-radius: 15px;
}

.footer-design{
    background-color: black;
    text-align: center;
    color: white;
    font-family: "Pacifico", cursive;
    padding: 30px 30px;
}